:root{
    --acccent: #ffd479;

    --font-base: 'Roboto', sans-serif;
    --font-accent: 'Bebas Neue', sans-serif;
}


body{
    background-color: #1f2a32;
    color: #fafaf5;

    font-family: var(--font-base);
    font-weight: 300;

}

a {
    color: #fafaf5;

}

/* .title-1{
    font-family: var(--font-accent);
    font-weight: 700;
    color: var(--acccent);
    font-size: 96px
} */

.container{
    max-width: 1200px;
    width: 100%;

    margin: 0 auto;
    padding: 0 15px;
}


.container-contact{
    max-width: 615px;

}



